Whitelist/node_modules
Whitelist/.env
Whitelist/coverage
Whitelist/coverage.json
Whitelist/typechain
Whitelist/typechain-types
Whitelist/cache
Whitelist/artifacts
Whitelist/.gitignore

NFTs/node_modules
NFTs/.env
NFTs/coverage
NFTs/coverage.json
NFTs/typechain
NFTs/typechain-types
NFTs/cache
NFTs/artifacts
NFTs/.gitignore

TokenICO/node_modules
TokenICO/.env
TokenICO/coverage
TokenICO/coverage.json
TokenICO/typechain
TokenICO/typechain-types
TokenICO/cache
TokenICO/artifacts
TokenICO/.gitignore

DAO/node_modules
DAO/.env
DAO/coverage
DAO/coverage.json
DAO/typechain
DAO/typechain-types
DAO/cache
DAO/artifacts
DAO/.gitignore